<!doctype html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <!--[if lt IE 8]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="container">
        <div id="demo">
            <form action="#">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
                    <label class="mdl-button mdl-js-button mdl-button--icon" for="sample6">
                      <i class="material-icons">search</i>
                      
                    </label>
                    <div class="mdl-textfield__expandable-holder">
                        <input class="mdl-textfield__input" type="text" name="query" v-model="searchQuery" id="sample6">
                        <label class="mdl-textfield__label" for="sample-expandable">Expandable Input</label>
                    </div>
                </div>
            </form>
            <vuetable api-Url="http://ofht327si.bkt.clouddn.com/two.json" :columns="gridColumns" :filter-key="searchQuery" :pages="config">
            </vuetable>
        </div>
    </div>

    <script type="text/x-template" id="vuetable">
        <table class="mdl-data-table mdl-js-data-table mdl-shadow--3dp mdl-hover">
            <thead>
                <tr>
                    <th v-for="item in columns" @click="sortBy(item.label)" :class="sortOrders[item.label] > 0 ? 'mdl-data-table__header--sorted-ascending' : '  mdl-data-table__header--sorted-descending'">
                        {{ item.name }}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="entry in filteredData">
                    <td v-for="item in columns">
                        {{ entry[item.label] }}
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <section class="paginate">
                    <select name="select" v-on:change="assign">
                      <option v-for="page in pages" :value="page">{{page}}</option>
                    </select>
                    {{ from }} - {{ to }} of {{ total }}
                    <div class="{{isOnFirstPage ? disabledClass : ''}}" class="one">
                        <a @click="loadPage('prev')"><i class="material-icons mdl-gray">keyboard_arrow_left</i></i></a>
                    </div>
                    <div class="{{isOnLastPage ? disabledClass : ''}}" class="two">
                        <a @click="loadPage('next')"><i class="material-icons mdl-gray">keyboard_arrow_right</i></a>
                    </div>
                </section>
            </tfoot>
            <!-- <button @click="changePerpage">tick</button> -->
        </table>
    </script>

    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script>
        window.jQuery || document.write('<script src="js/vendor/jquery.min.js"><\/script>')
    </script>
    <script src="js/vendor/vue.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script defer src="js/vendor/material.min.js"></script>
    <script src="js/main.js"></script>

    <script>
        Vue.component('vuetable', {
            template: '#vuetable',
            replace: true,
            props: {
                data: Array,
                columns: Array,
                filterKey: String,
                apiUrl: String,
                colData: Array,
                pages: Array,
            },
            data: function() {
                var sortOrders = {}
                this.columns.forEach(function(item) {
                    sortOrders[item.label] = 1
                })
                return {
                    sortKey: '',
                    sortOrders: sortOrders,
                    currenttableData: null,
                    perPage: undefined,
                    allData: null,
                    from: undefined,
                    to: undefined,
                    total: undefined,
                    currentPage: undefined
                }
            },
            computed: {
                filteredData: function() {
                    var self = this

                    var sortKey = this.sortKey
                    var filterKey = this.filterKey && this.filterKey.toLowerCase()
                    var order = this.sortOrders[sortKey] || 1
                    var data = this.currenttableData
                    self.colData = this.currenttableData
                    if (filterKey) {
                        data = data.filter(function(row) {
                            return Object.keys(row).some(function(key) {
                                return String(row[key]).toLowerCase().indexOf(filterKey) > -1
                            })
                        })
                    }
                    if (sortKey) {
                        data = data.slice().sort(function(a, b) {
                            a = a[sortKey]
                            b = b[sortKey]
                            return (a === b ? 0 : a > b ? 1 : -1) * order
                        })
                    }
                    return data
                }
            },
            filters: {
                capitalize: function(str) {}
            },
            methods: {
                sortBy: function(key) {
                    this.sortKey = key
                    this.sortOrders[key] = this.sortOrders[key] * -1
                },
                //获取数据，并实现数据分页
                fetchData: function() {
                    var self = this;
                    axios.get(self.apiUrl).then((response) => {
                        // success callback
                        // self.currenttableData = response.body;
                        console.log(response)
                        self.allData = response.data
                        // console.log(self.allData);
                        self.total = response.data.length
                        // console.log(self.allData);
                        self.temp = [];
                        self.currentPage = 0;
                        self.perPage = 2;
                        self.from = 1;
                        self.to = self.perPage;
                        self.lastPage = Number( Math.floor(this.total % this.perPage) == 0 ? Math.floor(this.total / this.perPage) - 1 :Math.floor(this.total / this.perPage))
                        // console.log(self.lastPage);
                        self.totalPage = self.lastPage;
                        // console.log(self.lastPage);
                        self.dealData = Object.assign([], self.allData);
                        // self.count1 = "111"
                        // console.log(dealData);
                        // console.log(temp);
                        var currentIndex = 0;
                        // console.log(self.dealData);
                        for(var i = 0;i <= self.totalPage; i ++) {
                          // console.log("执行此处");
                          self.temp[i] = self.dealData.splice(currentIndex, currentIndex + self.perPage);
                          console.log(this.temp[i]);
                          // console.log()
                        }
                        currentIndex = 0;
                        // self.tableData = temp;
                        self.currenttableData = self.temp[0];
                        // console.log(self.tabelData);
                    }).then((error) => {
                        console.log(error)
                    });
                },
                //用来加载分页数据

                //分发切换table页事件
                loadPage: function(page) {
                    if(page == "prev") {
                      // console.log("上一页")
                      if(this.currentPage >= 1) {
                        this.currenttableData = this.temp[this.currentPage - 1];
                        this.currentPage --
                        +(this.from -= this.perPage)
                        +(this.to -= this.perPage)
                      }
                      // console.log(this.currenttableData)
                    } else if( page == "next") {
                      // console.log("下一页")
                      if(this.currentPage < this.lastPage) {
                        // console.log("from:" + this.from)
                        // console.log("to:" + this.to)
                        // console.log("perpage:" + this.perPage)
                        // console.log("currentPage:" + this.currentPage);
                        // console.log("lastPage: " + this.lastPage);
                        // console.log("此时的数据分组: " + this.temp);
                        this.currenttableData = this.temp[this.currentPage + 1];
                        this.currentPage ++
                        this.from += Number(this.perPage)
                        this.to = (this.to + Number(this.perPage) > this.total ? this.total : (this.to + Number(this.perPage)))
                        // console.log("to:" + this.to)
                      }
                      // console.log(this.currenttableData)
                    }
                },
                assign: function(event) {
                  // console.log("被选中了");
                  // console.log(event.target.value);
                  this.perPage = event.target.value;
                  // this.dealData = this.allData
                  // console.log(this.perPage)

                  this.from = 1;
                  this.to = Number(this.perPage)

                  this.dealData = Object.assign([], this.allData);
                  var currentIndex = 0;
                  // console.log(self.dealData);
                  console.log("最后:" + this.totalPage);
                  console.log("数据:" + this.dealData);
                  console.log("分页:" + this.perPage);
                  this.lastPage = Number( Math.floor(this.total % this.perPage) == 0 ? Math.floor(this.total / this.perPage) - 1 : Math.floor(this.total / this.perPage))
                  this.totalPage = this.lastPage
                  for(var i = 0;i <= this.totalPage; i ++) {
                    // console.log("执行此处");
                    this.temp[i] = this.dealData.splice(currentIndex, currentIndex + this.perPage);
                    // console.log(this.temp[i]);
                    // console.log()
                    console.log("第" + i + "次：" + this.dealData)
                  }

                  console.log("总数据:" + this.temp);

                  console.log(this.temp[0])

                  this.currenttableData = this.temp[0]

                  console.log("最后一页:" + this.lastPage)
                  this.currentPage = Number(0)
                }
            },
            created: function() {
                this.fetchData();
            }
        })

        var demo = new Vue({
            el: '#demo',
            data: {
                searchQuery: '',
                gridColumns: [{
                    label: "name",
                    name: "名字"
                }, {
                    label: "power",
                    name: "力量"
                }],
                config: [2,3,4,5]
            }
        });
    </script>
</body>

</html>
