<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="./style.css">
</head>
<body>
	<script type="text/x-template" id="item-template">
		<li>
			<div :class="{bold: isFolder}"
				@click="toggle"
				@dbclick="changeType">
				{{model.name}}
				<span v-if="isFolder">[{{open ? '-' : '+'}}]</span>
			</div>
			<ul v-show="open" v-if="isFolder">
				
			</ul>
		</li>
	</script>

	<ul id="demo">
		<item class="item" "
			:model="treeData"">			
		</item>
	</ul>

	<script type="text/javascript" src="../vue.js"></script>
	<script type="text/javascript" src="../jquery.js"></script>
	<script type="text/javascript" src="./app.js"></script>
</body>
</html>